

<div class="container col-md-6">
    <h1 style="color: red;">user login </h1>
    <form (ngSubmit)="adminLogin()">

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">admin name</label>
    <input type="text" [(ngModel)]="admin.name" class ="form-control" id="name" name="name">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">password</label>
    <input type="password" [(ngModel)]="admin.password" class ="form-control" id ="password" name="password">
</div>
<button type="submit" class="btn btn-primary">Login</button>

</form>

</div>